<footer class="b-footer">
    <div class="u-clear-fix b-wrapper">
        <div class="b-footer__logo">
            <a href="/"></a>
        </div>
        <div class="b-footer__contact">
            <a href="tel:{{ content('contacts.phone')|replace({' ':'', '(': '', ')': '', '-': ''}) }}">{{ content('contacts.phone') }}</a>
            <span>{{ content('contacts.address') }}</span>
            <p>
                <a href="mailto:{{ content('contacts.email') }}">{{ content('contacts.email') }}</a>
            </p>
        </div>
        <div class="b-button__box">
            <a href="#" class="js-call-calc b-button">
                <span>Расчитать Стоимость</span>
                <p>Ознакомиться с услугами и узнать стоимость</p>
            </a>
        </div>
        <ul class="u-clear-fix b-social">
            <li>
                <a href="{{ content('contacts.social.facebook') }}" target="_blank" class="b-social__link">Facebook</a>
            </li>
            <li>
                <a href="{{ content('contacts.social.youtube') }}" target="_blank" class="b-social__link">Youtube</a>
            </li>
            <li>
                <a href="{{ content('contacts.social.vimeo') }}" target="_blank" class="b-social__link">Vimeo</a>
            </li>
            <li>
                <a href="{{ content('contacts.social.instagram') }}" target="_blank" class="b-social__link">Instagram</a>
            </li>
        </ul>
    </div>
</footer>